@charset "UTF-8";
/* CSS Document */

html {
	font-family:  Helvetica, sans-serif;
	font-size: .7em;
	line-height: 1rem;


}

body {
	
	margin:0 auto;
	width: 80%;
	border-style: solid;
	background-color: #fff;
	border-width: .2em;
	border-color: #ECEAEA;
	border-radius: 1em;
}

h1 {
	color: #771E1F;
	}
	
	
hr {
  border: 0;
  background-color: #ECEAEA;
  height: .2rem;
}

	
figcaption {
	background-color: #ECEAEA;
	color: #ffff;
	margin: 0;	
	
	
	
}


blockquote{
	
	background-color: #ECEAEA;
	margin: 0;
	padding: 0;
}

cite{
	
	float: right;
}
	
h2{
	color: #771E1F;
		
	}
	
 
dl{
 list-style-type: none;
 }

 
 ul {
 list-style-type: none;
 color: #771E1F;
 }
